.nav {
    background-color: #cae1f8;
    padding: 20px;
}

.nav-box {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.nav_cart-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_favourites-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav_star-img {
    height: 16px;
}